/* Default styles */

* {
    margin: 0;
    box-sizing: border-box;
}

.logo {
    padding-left: 40px;
}

.simple-link {
    text-decoration: none;
    color: white;
}

.content {
    padding: 20px;
}

.main-table {
    border-spacing: 0;
}

.heading {
    font-variant: bold;
}

.container {
    padding: 20px;
}

.warning {
    color: orangered;
}

.full-table {
    width: 100%;
}

/* Button controls in form functions */
.control-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}