/* Default styles */

* {
    margin: 0;
    box-sizing: border-box;
}

.logo {
    padding-left: 40px;
}

.simple-link {
    text-decoration: none;
    color: white;
}

.content {
    padding: 10px;
}

.main-table {
    border-spacing: 0;
}

.heading {
    font-variant: bold;
}

.container {
    padding: 40px;
}

.warning {
    color: orangered;
}

.full-table {
    width: 100%;
}